<main style="padding-top: 56px;">
<section>
    <div class="container">
        {{#if products}}
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Item</th>
                        <th>Title</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Options</th>
                    </tr>
                </thead>
                {{#each products}}
                <tbody>
                    <tr>
                        {{!The product details are in the object product}}
                        <td>
                            <img src="/product-images/{{this.product._id}}.jpg" style="width: 75px; height: 75px;">
                        </td>
                        <td style="font-size: calc(0.8em + 0.5vw);">{{this.product.name}}</td>
                        <td>{{this.product.price}}</td>
                        <td>
                            <div class="quantity-container">
                                <button class="cart-item-count" onclick="changeQuantity('{{this._id}}','{{this.product._id}}',-1)">-</button>
                                <span id="{{this.product._id}}">{{this.quantity}}</span>
                                <button class="cart-item-count" onclick="changeQuantity('{{this._id}}','{{this.product._id}}',1)">+</button>
                            </div>
                        </td>
                        <td>
                            <a href="" onclick="removeProduct('{{this._id}}','{{this.product._id}}')" class="btn btn-danger">Remove</a>
                        </td>
                    </tr>
                </tbody>
                {{/each}}
            </table>
        </div>
        <div class="total-container text-center mt-3">
                <h3>TOTAL = Rs. <span id="total">{{totalValue}}</span></h3>
            <div class="text-center">
                <a href="/place-order" class="btn btn-success">Place Order</a>
            </div>
        </div>


        {{else}}
        <div class="mt-5 d-flex align-items-center justify-content-center">
            <h1>No items in cart</h1>
        </div>
        <div class="mt-2 d-flex align-items-center justify-content-center">
            <a href="/" class="btn btn-primary">Add Items</a>
        </div>
        {{/if}}
    </div>
</section>
</main>