<section class="h-100 h-custom" style="background-color: #d2c9ff;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12">
                <div class="card card-registration card-registration-2" style="border-radius: 15px;">
                    <div class="card-body p-0">
                        <div class="row g-0">
                            <div class="col-lg-8">
                                <div class="p-5">
                                    <div class="d-flex justify-content-between align-items-center mb-5">
                                        <h1 class="fw-bold mb-0 text-black">Place Order</h1>
                                    </div>

                                    {{#each products}}
                                    <hr class="my-4">
                                                
                                    <div class="row mb-4 d-flex justify-content-between align-items-center">
                                        <div class="col-md-2 col-lg-2 col-xl-2">
                                            <img src="/product-images/{{this.product._id}}.jpg" class="img-fluid rounded-3" style="width: 75px; height: 75px;">
                                        </div>
                                        <div class="col-md-3 col-lg-3 col-xl-3">
                                            <h6 class="text-muted">{{this.product.name}}</h6>
                                            <h6 class="text-black mb-0">{{this.product.category}}</h6>
                                        </div>
                                        <div class="col-md-6 col-lg-3 col-xl-2 d-flex">
                                            

                                            <label id="form1"type="number" class="form-control form-control-sm">{{this.quantity}}</label>

                                           
                                        </div>
                                        <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                                            <h6 class="mb-0">{{this.product.price}}</h6>
                                        </div>
                                        <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                                            <a href="#!" class="text-muted"><i class="fas fa-times"></i></a>
                                        </div>
                                    </div>
                                    {{/each}}

                                </div>
                            </div>
                            <div class="col-lg-4 bg-grey">
                                <div class="p-5">
                                    <h3 class="fw-bold mb-5 mt-2 pt-1">Shipping Address</h3>
                                    <hr class="my-4">

                                    {{!<div class="d-flex justify-content-between mb-4">
                                        <h5 class="text-uppercase">items 3</h5> take the cart count at display here
                                        <h5>Rs. 1500</h5>
                                    </div>

                                <div class="d-flex justify-content-between mb-4">
                                    <h5 class="text-uppercase">Shipping charge</h5>
                                    <h5>Rs. 50</h5>
                                </div>}}
                                <div>
                                    <h5>{{details.name}}</h5>
                                    <h5>{{details.deliveryDetails.address}}</h5>
                                    <h5>{{details.deliveryDetails.pincode}}</h5>
                                    <h5>Ph No. {{details.deliveryDetails.mobile}}</h5>
                                </div>

                                    <hr class="my-4">

                                    <div class="d-flex justify-content-between mb-5">
                                        <h5 class="text-uppercase">Total price</h5>
                                        <h5>Rs. {{totalValue}}</h5>
                                    </div>
                                    <div>
                                        <p class="">Mode : {{details.paymentMethod}}</p>                                        
                                    </div>

                                    <a class="btn btn-dark btn-block btn-lg" onclick="deleteCartOrdercollections('{{user._id}}','{{details._id}}')">CONFIRM</a>
                                    <br>
                                    <a>(Press confirm to place order)</a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    function deleteCartOrdercollections(userId,orderId){

        $.ajax({
            url:'/delete-Cart-Order-collections-add-toHistory',
            data:{
                userId:userId,
                orderId:orderId
            },
            method:'post',
            success:(response)=>{
                if(response.cash){
                    alert("Order is Placed Successfully")
                    location.href='/order-history'
                }else{
                    razorpayPayment(response)
                }
            }
        })
    }

    function razorpayPayment(order){
        var options = {
            "key": "rzp_test_hwtFwqar8csk00", // Enter the Key ID generated from the Dashboard
            "amount": order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
            "currency": "INR",
            "name": "Acme Corp", //your business name
            "description": "Test Transaction",
            "image": "https://example.com/your_logo",
            "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
            "handler": function (response){
                /*alert(response.razorpay_payment_id);
                alert(response.razorpay_order_id);
                alert(response.razorpay_signature);*/

                verifyPayment(response,order)   // payment response
            },
            
            "prefill": {
                "name": "Gaurav Kumar", //your customer's name
                "email": "gaurav.kumar@example.com",
                "contact": "9000090000"
            },
            "notes": {
                "address": "Razorpay Corporate Office"
            },
            "theme": {
                "color": "#3399cc"
            }
        };

        var rzp1 = new Razorpay(options);
        rzp1.open();
    }

    function verifyPayment(payment,order){
        $.ajax({
            url:'/verify-payment',
            data:{
                payment,
                order
            },
            method:'post',
            success:(response)=>{
                if(response.status){
                    var id=order.receipt
                    alert("Order is Placed Successfully")
                    var redirectUrl = '/insert-to-order-history/' + id;
                    location.href=redirectUrl;
                   // location.href='/order-history'
                }else{
                    alert("Payment failed")
                }
            }
        })
    }
</script>